*.zip
*.rar
*.7z
*.pt
*.pth
*.onnx
*.om
*.engine
*.avi
*.mp4
*.flv
*.log
inference_results/
**/inference_results/
**/runs/**/weights/
**/main/build/
**/main/dist/
**/main/ultralytics/
**/main/docs/
**/main/examples/
**/main/tests/
**/main/docker/
**/*.egg-info/
__pycache__/
*.py[cod]
.venv/
venv/
.idea/
.vscode/
.DS_Store
Thumbs.db
